.header {
    background-color: #0e0e0ecd;
    color: #e7e7e7;
    border-color: black;
    border-radius: 10px;
    margin: 10px auto;
    padding: 5px 20px;
    text-align: center;
    max-width: 600px;
}
.header__title{
    font-size: 30px;
    font-style: italic;
    
}